
Aplicacion/FrbaOfertas/FrbaOfertas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Aplicacion/FrbaOfertas/FrbaOfertas/obj/Debug/FrbaOfertas.csproj.FileListAbsolute.txt

Aplicacion/FrbaOfertas/FrbaOfertas/obj/Debug/FrbaOfertas.csproj.GenerateResource.Cache

Aplicacion/FrbaOfertas/FrbaOfertas/obj/Debug/FrbaOfertas.exe

Aplicacion/FrbaOfertas/FrbaOfertas/obj/Debug/FrbaOfertas.pdb
